body{
    background-image:url("https://media.istockphoto.com/id/1341408852/video/colored-smoke-on-a-dark-background-blue-and-red-light-with-smoke.jpg?s=640x640&k=20&c=v2DQUY8IVbli_6FH_9KAs6YWRXlDdYiBJHfp7JFh7NY=");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;
   color:chartreuse;
}
table{
    width: 80%;
    margin: 40px auto;
    background: black;
    color: aqua;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid red;
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: red;
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid red;
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: aqua;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: aqua;
}

input[type="reset"]:hover{
    background: aqua;
}

button{
    background: black;
    color: aqua;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: 2px solid blueviolet;
}

button:hover{
    background:red ;
}
